<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <form th:method="POST" th:action="@{/person}" th:object="${person}">
          <div>
              <label for="name">Name</label>
              <input type="text" th:field="*{name}" id="name"/>

              <br/>

              <label for="birthday">Birthday</label>
              <input type="text" th:field="*{birthday}" id="birthday"/>

              <br>

              <input type="submit" value="Add person"/>
          </div>
      </form>

</body>
</html>